.nk-services-label {
  font-family: var(--font-primary, "Instrument Sans", "Instrument Sans Fallback", sans-serif);
  font-size: 13.3917px;
  font-weight: 600;
  font-style: normal;
  color: #FFFFFF;
}
